* {
	padding: 0;
	margin: 0;
}

header {
	background-color: #278BCE;
	text-align: center;
}

#logo {
	width: 100px;
}

nav a {
	background-color: #9DD6FF;
	color: #278BCE;
	padding: .5em;
	text-decoration: none;
	display: inline-block;
	padding: .5em;
	width: 10em;
	text-align: center;
}

nav a:hover {
	background-color: #FDD28E;
	color: #E58910;
}

a {
	color: #278BCE;
	padding: .5em;
	text-decoration: none;
	display: inline-block;
	padding: .5em;
	width: 10em;
	text-align: center;
	font-weight: bold;
}

a:hover {
	background-color: #9DD6FF;
	color: #278BCE;
}

#button-wrapper {
	display: block;
	color: #191919;
	text-align: center;
	padding: 2em;
	margin: 0;
	width: auto;
}

#button-wrapper:hover {
	color: #fff;
}

main {
	padding:10px;
}

h1, h2, h3, h4 {
	font-family: "Comfortaa", sans-serif;
	color: #191919;
	margin-bottom: 10px;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
	text-align: center;
}

h4 {
	font-size: 10px;
	padding: 20px 0;
	color: #fff;
}

body {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	font-color: #191919;
	text-align: left;
	line-height:1.4;
	background-color: #fff;
}


p {
	font-size: 16px;
	color: #191919;
	padding: 10px 0;
}

ul {
	list-style-type: none;
	color: #23395B;
}

img {
	margin: 20px;
	width: 400px;
}

div {
	font-size: 1.2em;
	width: 46%;
	padding: 2%;
	display: inline-block;
}

.column {
	padding: 2em;
	display: block;

}

#bio {
	background-color: #FDD28E;
	float: left;
}

#services {
	float: right;
}

.clearfix:after {
	visibility:hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#content {
	background-color: #EBF7FF;
	text-align: center;
	padding: 2em 5em;
}

#event {
	background-color: #D6EEFF;
	text-align: center;
	padding: 2em 5em;
}

#testimonials {
	background-color: #FDD28E;
	padding: 50px 10px;
	text-align: center;
}


footer {
	background-color: #278BCE;
	padding: 20px;
}
