h1, h3, body {
	font-family: Helvetica, sans-serif;
	font-color: #fff;
	text-align: center;
}

h1 {
	font-weight: bold;
	font-size: 32px;
}

h3 {
	font-weight: bold;
	font-size:28px;
}

body {
	background-image: url("images/hero-image.jpg");
	background-size: contain;
	font-weight: normal;
	font-size: 22px;
}

ul {
	list-style-type: none;
}

#slogan {font-style: italic;}