header {
	background-color: #588B8B;
	padding:20px;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-color: #191919;
	text-align: center;
	line-height:1.4;
	background-color: #fff;
	background-size: contain;
	font-weight: normal;
}

h1 {
	font-color: #769AD0;
	font-size: 32px;
}

h2 {
	font-color: #588B8B;
	font-size: 28px;
}

h3 {
	font-color: #588B8B;
	font-size: 24px;
}

h1, h2, h3 {
	margin-bottom: 20px;
}

a {
	color: #769AD0;
	text-decoration: none;
}

nav a {
	color: #FFD5C2
	font-weight: 700;
	margin-right: 15px;
}

img {
	width: 400px;
}

main {
	padding:20px;
}

ul {
	padding-left: 20px;
	list-style-type: none;
}

footer {
	background-color: #FFD5C2;
	padding: 20px;
	text-align: center;
}
